
@{
    ViewBag.Title = "CheckLogin";
}

<h2>Check Login</h2>
<div>
    <form name="frmChkLogin" method="post" action="/RFID/CheckPwd">
        Enter Password : <input type="password" id="pwd" name="pwd" value="" class="form-control" />
        <button class="btn" id="btnPwd" >Check</button>
    </form>
</div>


This is a test file uploaded for git testing
